#chamada {
    margin: 30px;
    text-align: center;
    animation: blink 1s steps(1, end) infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }

.chamada-texto {
    font-size: 24px;
    color: black;
    font-style: normal;
}
