header{
    background-color: aqua;
    display: flex;
    height: 80px;
}
nav{
    background-color: chocolate;
    height: 65px;
}
ul{
    display: flex;
    height: 20px;
}
li{
    display: inline-flex;
    align-items: center;

}