body {
  margin: 0;
  font-family: system-ui;
}

.hotel-header {
    background-color: rgb(66, 66, 66);
    background-image: url("/ecommerce/html/img/hotel/logo_1_small.png");
    background-size: 4%;
    background-position: 1%;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    color: white;
  }

.hotel-button {
    background-color: rgb(66, 66, 66);
    padding-left: 20px;
    color: white;
  }

.hotel-middle {
    background-color: rgb(134, 156, 252);
    background-image: url("/ecommerce/html/img/hotel/background_middle_small.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-bottom: 180px;
    color: white;
  }

.hotel-body {
  background-color: rgb(134, 156, 252);
  padding-top: 30px;
  padding-bottom: 1000px;
  padding-left: 80px;
  color: white;
}

