header{
    background-color: aqua;
    display: flex;
    height: 80px;
}
nav{
    background-color: chocolate;
    height: 65px;
}
ul{
    display: flex;
    height: 20px;
}
li{
    display: inline-flex;
    align-items: center;

}
footer{
    display: flex;
   justify-content: space-around;
   align-items: flex-end;
   }
.divmaster{
    align-items: flex-start;
    margin: 8px;
    padding: 8px;
}
.divselecaocarros{
    display: inline-flex;
    align-items: center;
    margin: 8px;
    padding: 8px;
    border: 8px;
    ;

}
   /*Comentario*/